.footer_links{
  margin: 5px 10px 10px;
  text-decoration: none;
  color: rgb(0, 102, 255);
  font-weight: 600;
}

.footer_links:hover{
  text-decoration: underline;
  color: rgb(0, 102, 255);
  /* font-weight: 700; */
}
.banner{
 
  height: 250px;
  max-width: 650px;
  margin: auto;
  text-align: center;
  align-items: center;
  background-image: url(../public/images/Circuit\ Primary.svg);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1{
  color: whitesmoke;
}
.manage_overflow{
  max-width: 150px;
  overflow: auto;
}
.bg_img{
  
  margin: auto;
  text-align: center;
  align-items: center;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../public/images/blurred-traffic-light-trails-road.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;

}
.padding_10px{
  padding: 10px;
}